.PlainText
{

    font-family: Source Han Sans CN;

    font-size: 48px;

    color:rgb(96, 210, 255);

    text-shadow:0px 0px 12px rgb(96, 210, 255);
    

}

.TextBlock
{
    display: block;
    position: absolute;

}